
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Address Listing</title>
  {# Load the tag library #}
  {% load bootstrap3 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}

</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Address Listings</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'contacts' %}">Contact List</a></li>
        <li><a href="{% url 'contact_create' %}">Add Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="container">
    <!-- <div class="jumbotron">
    <h1>Adress Listing Django app</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div> -->
    <div>
        {% block content %} <!-- default content text (typically empty) --> {% endblock %}
    </div>


  </div>



    <footer class="footer" style=" margin-top: 600px;">
      <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-4">
            <h1 class="h3">AddressListing</h1>
            <p>Copyright &copy; 2017</p>
          </div>
        </div>
      </div>
    </footer>


</body>
</html>
