{% extends "base_generic.html" %}

{% load bootstrap3 %}

{% block content %}
<h2>Contact Detail Page</h2>
<div class="container">
  <a href="{% url 'contact-detail' contact.pk %}">
    <h3><strong>First Name:</strong> {{ contact.first_name }}</h3>
    <h3><strong>Last Name:</strong> {{ contact.last_name }}</h3>
    <h3><strong>Email Address:</strong> {{ contact.email }}</h3>
  </a>
    {% buttons %}
    <a href="/contacts/{{contact.id}}/update">
      <button type="submit" class="btn btn-success">
        {% bootstrap_icon "star" %} Update
      </button>
    </a>

      <a href="/contacts/{{contact.id}}/delete">
        <button type="submit" class="btn btn-danger" >
          {% bootstrap_icon "star" %} Delete
        </button>
      </a>

    {% endbuttons %}
</div>

{% endblock %}
